@inherits LayoutComponentBase

<PageTitle>TimebokaUI</PageTitle>

<div class="page">
    <main>
        <div>
            <article class="content px-4">
                @Body
            </article>
        </div>
    </main>
</div>
